.backdrop{
    background-image: url(/img/backdrop.jpg);
    height: 100vh;

    p, a, h2 {
        color: @sea-shell;
        &:hover{
            color: @nav-font;
        }
    }

    h2{
        margin: 2%;
    }
    p{
        font-size: 3rem;
        margin-left: 5%;
    }

    
    input{
        width: 45%;
        margin: 3%;
    }
    .sub{
       
        .btn-maker(4rem, 15rem, @river-bend, @sea-shell);
        margin-left: 42%;
    }

    .contact{
        text-align: center;
        // display: flex;
        // flex-flow: column;
        // justify-content: center;;
    }

}


