.backdrop{
    background-image: url(/img/backdrop.jpg);
    height: 100vh;

    p, a, h2 {
        color: @sea-shell;
        &:hover{
            color: @nav-font;
        }
    }
    p{
        font-size: 3rem;
    }

    
    input{
        width: 45%;
        margin: 3%;
    }
    .sub{
       
        .btn-maker(4rem, 15rem, @river-bend, @sea-shell);
    }
}


